.kc-gallery-body {
    margin: 0 auto;
    max-width: 1200px;
    min-height: calc(100vh - 400px);
    margin-top: 1rem;
    padding: 0 35px;
}
.kc-gallery-images-inner {
    position: relative;
    overflow: hidden;
    font-size: 12px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 252px);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    grid-auto-rows: 284px;
}
.kc-thumb-wrap {
    border: 1px solid rgba(90,96,110,0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 16px;
    background-color: #f0f0f0;
}
.kc-thumb-tag {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.kc-thumb {
    max-width: 100%;
    max-height: 100%;
}

.kc-gallery-filters {
    margin-bottom: 2rem;
}

.kc-nav-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.85rem;
    font-family: 'Quicksand',sans-serif;
    color: #5a606e;
    margin: 1rem 0;
}

.kc-gallery-pagination {
    position: relative;
    display: flex;
    justify-content: center;
}

.kc-arrow-left-tag,
.kc-arrow-right-tag {
    &.kc-arrow-visible::before {
        position: relative;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font-weight: 900;
        font-size: 14px;
        width: 23px;
        height: 24px;
        line-height: 24px;
        background: #f0f0f0;
        color: #666;
        border-radius: 50%;
        display: inline-block;
        text-align: center;
        cursor: pointer;
    }
}

.kc-arrow-left-tag.kc-arrow-visible::before {
    content: "\2190";
    left: -5px;
}
.kc-arrow-right-tag.kc-arrow-visible::before {
    content: "\2192";
    right: -5px;
}

// .kc-arrow-right-tag.kc-arrow-visible {
//   &:after {
//       font-family: 'Font Awesome 5 Free';
//       font-weight: 400;
//       content: '\f061';
//       font-size: 14px;
//       // line-height: 24px;
//       // text-transform: none;
//       // background: #f0f0f0;
//       // color: #666;
//       // border-radius: 50%;
//       // width: 23px;
//       // padding: 0 0 0 1px;
//       // height: 24px;
//       // line-height: 24px;
//       // display: inline-block;
//       // text-align: center;
//       // top: -2px;  
//   }
// }