.kc-page {
    // search results page
    &.kc-search-page {
        .c1title {
            opacity: 0;
            transition: opacity 0.2s ease;
        }
        .kc-c1title-visible {
            opacity: 1;
        }

        .kc-description-wrap {
            max-width: 80em;
            padding-right: 25%;
            line-height: 1.9;
            font-size: 1.08em;
            font-family: 'Quicksand',sans-serif;
            color: #5a606e;
        }
        @media only screen and (max-width: 800px) {
            .kc-description-wrap {
                padding-right: 0px;
            }
        }

        .dataBox {
            >.name {
                opacity: 0;
                transition: opacity 0.2s ease;
            }
            >.kc-name-visible {
                opacity: 1;
            }
        }
        // remove labels under images
        .thumbs >.image >.info {
            display: none;
        }

        // remove social links
        .social {
            display: none;
        }
    }

    // image page
    &.kc-image-page {
        .search_results_link {
            opacity: 0;
            transition: opacity 0.2s ease;
        }
        .kc-search-results-link-visible {
            opacity: 1;
        }
        // remove image size
        dl {
            dt:nth-child(5),
            dd:nth-child(6) {
                display: none;
            }
        }
    }

    &.kc-search-page-page {
        .search_box_advanced {
            fieldset:nth-child(3),
            fieldset:nth-child(4),
            fieldset:nth-child(5),
            fieldset:nth-child(6),
            fieldset:nth-child(7),
            fieldset:nth-child(8),
            fieldset:nth-child(9),
            fieldset:nth-child(10) {
                display: none;
            }
        }
    }
}