.kc-pagination-dropdown {
    position: absolute;
    left: 0;
    right: 0;
    display: none;
    flex-direction: column;
    border: 1px solid #ddd;
    background-color: #f0f0f0;
    align-items: flex-end;
    justify-content: center;
    z-index: 200000;

    &.kc-pagination-dropdown-visible {
        display: flex;;
    }

    >a {
        padding: 0.25rem;
        box-sizing: border-box;
        width: 100%;
        text-align: right;
        &:hover {
            background-color: darken(#f0f0f0, 5%);
        }
    }
}