@import '_kc-page';
@import '_image';
@import '_gallery';
@import '_common';

.full-overlay {
    background-color: #fff;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
}
