.kc-filters-container {
    margin-top: 1em;
    display: flex;
    align-items: center;
}

.kc-filter-tag {
    margin-right: 1em;
}

.kc-gallery-thumbs-container {
    display: flex;
    flex-direction: column;
}

.kc-thumbs-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    grid-auto-rows: auto;
}

.kc-thumbnail-tag {
    border: 1px solid rgba(90,96,110,0.25);
    width: 252px;
    height: 284px;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 16px;
}

.kc-thumbnail {
    max-width: 100%;
    max-height: 100%;
}

.kc-thumb-info-container {
    text-align: center;
    line-height: 1.3em;
    padding: 0.5rem 0;
}

.kc-gallery-name {
    color: #4c5a7b;
    font-weight: normal;
}

.kc-gallery-images-count {
    color: #5a606e;
    font-size: 12px;
    text-transform: uppercase;
}

.kc-portrait-checkbox-container,
.kc-portrait-checkbox-label,
.kc-styled-portrait-checkbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.kc-portrait-checkbox-label {
    cursor: pointer;
}

.kc-styled-portrait-checkbox {
    width: 18px;
    height: 18px;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,0.11);
    position: relative;
    margin-right: 0.5rem;
}

.kc-portrait-checkbox-checkmark {
    top: 50%;
    left: 50%;
    width: 6px;
    height: 12px;
    position: absolute;
    border-right: 3px solid #eee;
    border-bottom: 3px solid #eee;
    box-sizing: border-box;
    transform: translate(-50%, -50%) rotate(45deg);
    opacity: 0;
}

#kc-portrait-checkbox {
    position: absolute;
    left: -9999px;
    top: -9999px;
    opacity: 0;
}

#kc-portrait-checkbox:checked ~ .kc-styled-portrait-checkbox {
    background-color: #ffc833;
    // border-color: #ffc833;
    .kc-portrait-checkbox-checkmark{
        opacity: 1;
    }
}

.kc-interact {
    display: flex;
    margin-bottom: 0.5rem;
    width: auto !important;
    float: none;
    .count {
        flex: 1;
        text-align: center;
    }
    .kc-more-info-wrap {
        width: 330px;
        float: right;
        .more-info {
            display: inline-block;
            float: none;
            a {
                display: inline-block;
                float: none;
                padding: 5px 6px 6px;
            }
        }
    }
}
.kc-imageBoxSub {
    >div.more >p.name {
        margin-top: calc(45px - 0.5rem);
    }
}
.kc-gallery-link-wrap {
    padding: 0 5% 1rem 5%;
}
.kc-gallery-link {
    font-size: 1rem;
    &:before {
        font-family: 'icon-set';
        content: '\0065';
        position: relative;
        font-size: 14px;
        line-height: 24px;
        text-transform: none;
        color: #fff;
        background: #4c5a7b;
        border-radius: 50%;
        width: 23px;
        padding: 0 1px 0 0;
        height: 24px;
        line-height: 24px;
        display: inline-block;
        text-align: center;
        top: -2px;
    }
}
