// .kc-sub-nav {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     a {
//         float: none;
//     }
// }

.kc-interact {
    display: flex;
    margin-bottom: 0.5rem;
    width: auto !important;
    float: none;
    .count {
        flex: 1;
        text-align: center;
    }
    .kc-more-info-wrap {
        width: 330px;
        float: right;
        .more-info {
            display: inline-block;
            float: none;
            a {
                display: inline-block;
                float: none;
                padding: 5px 6px 6px;
            }
        }
    }
}
.kc-gallery-link-wrap {
    padding: 0 5% 1rem 5%;
}
.kc-gallery-link {
    font-size: 1rem;
    &:before {
        font-family: 'icon-set';
        content: '\0065';
        position: relative;
        font-size: 14px;
        line-height: 24px;
        text-transform: none;
        color: #fff;
        background: #4c5a7b;
        border-radius: 50%;
        width: 23px;
        padding: 0 1px 0 0;
        height: 24px;
        line-height: 24px;
        display: inline-block;
        text-align: center;
        top: -2px;
    }
}

@media only screen and (min-width: 569px) {
    .kc-imageBoxSub {
        padding-right: 0 !important;
        >div.more {
            margin-right: 0 !important;
            position: relative !important;
            overflow: hidden;
            height: 0px;
            >p.name {
                margin-top: calc(45px - 0.5rem);
            }
        }
        >div.imageWrap {
            width: calc(100% - 330px) !important;
        }
        &.show {
            >div.more {
                height: auto;
            }
        }
    }
}